<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Toujours confin&eacute;s...</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
	<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
	<script src="webjars/rxjs/2.5.3/rx.all.min.js"></script>
	<script src="app.js"></script>

	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		.tchat {
			height: 200px;
			width: 100%;
			overflow-y: scroll;
			border: solid;
			padding-left: 10px;
		}
	</style>

</head>

<body>
	<div style="min-height: 500px">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="${home}">Accueil</a> <a class="navbar-brand"
						href="javascript:logout()">Logout</a>
				</div>
			</div>
		</nav>
		<div class="container bd-layout">
			<h1 class="mx-auto text-center">Mon salon</h1>
			<div id="maincontent">
				<div
					th:replace="${user == null || user.isEmpty()} ? ~{register.html :: register} : ~{main.html :: main}">
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<footer>
			<p>© THURIER team 2021</p>
		</footer>
	</div>

	<script type="text/javascript">

		$(document).ready(function () {

			$("#registerForm").submit(function () {
				event.preventDefault();
				$("#envoi").trigger("click");
				return false;
			});

			$('#envoi').click(function (event) {

				//stop submit the form, we will post it manually.
				event.preventDefault();

				$('#spinner').css({visibility: 'visible'});

				submitNickName($('#nom').val(), function () {
					$('#spinner').css({visibility: 'hidden'});
				});

				return false;
			});

			rebind();


		});


		(function ($) {
			connect();
		})($);
	</script>

</body>

</html>