<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<div class="w-50 p-3 starter-template" th:fragment="main">
		<h4 th:unless="${user == null}">
			Bonjour <span th:text="${user}"></span>
		</h4>
		<div id="files" class="border bg-light col-md-6 offset-md-3">

			<h2>Les fichiers partag&eacute;s</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Poste de</th>
						<th scope="col">Chemin</th>
						<th scope="col">lien</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="file, iStat : ${filesPage.content}">
						<td th:text="${file.owner}"></td>
						<td th:text="${file.path}"></td>
						<td><a th:href="@{'/main/dl/'+${file.dl}}" target="_blank">
								<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
							</a></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${filesPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
				<a th:href="'javascript:void(0)'" th:onclick="'getFilesList('+${filesPage.size}+','+${pageNumber}+', rebind);'" th:text=${pageNumber}
					th:class="'pagin '+${pageNumber==filesPage.number + 1} ? text-success"></a>
			</div>

		</div>
		<div class="border bg-light col-md-6">

			<h2>Qui est l&agrave;</h2>
			<ul class="list-inline">
				<li class="list-inline-item" th:each="us : ${users}">
					<h4><span class="badge bg-secondary" th:text="${us}"></span></h4>
				</li>
				<div class="d-flex justify-content-center">
					<div id="tchatDiv" class="border border-1 tchat">
						<p th:each="mess : ${messages}" th:text="' '+ ${mess}"></p>
					</div>
					<form id="tchatForm">
						<div class="form-group">
							<label for="message">&Eacute;crire</label>
							<input type="text" class="form-control" id="message" autofocus autocomplete="off"
								onkeyup='saveValue(this);' />
						</div>
						<button id="envoiMessage" type="button" class="btn btn-primary">Envoyer</button>
					</form>
				</div>
		</div>
	</div>



</body>